body {
  background-color: #ffffff !important;
}

.w2d_block {
  background-color: #ffffff;
  padding-left: 15px;
}

.w2d_btn-large{
  width: 80%;
}

.w2d_block-header{
  background-color: #8BCD50;
}

.w2d_block-title{
    flex: 1 1 auto;
    min-height: 1.75rem;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75;
    color: #ffffff;
}


.w2d-invalid-feedback {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #e04f1a;
}

.w2d-form-group {
  margin-bottom: 0rem;
}

.w2d-enter {
  margin-top: 10px;
  margin-bottom: 30px;
}

.w2d-left {
  margin-left: 12px;
}

#page-container.page-header-dark #page-header {
  color: #cad4e7 !important;
  background-color: #00720D  !important;
}


.block.block-themed > .block-header {
  border-bottom: none !important;
  color: #fff !important;
  background-color: #0071a1;
}


.modal-header{
  background-color: #0071a1 !important;
}

.modal-header h5{
  color: #ffffff !important;
}

.modal-header button{
  color: #ffffff !important;
}

.block.block-themed-secundary > .block-header {
  border-bottom: none !important;
  color: #4b4b4b !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid #4b4b4b !important;
}


.block-title {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  min-height: 1.75rem !important;
  margin: 0 !important;
  font-size: 1.125rem !important;
  font-weight: 400 !important;
  line-height: 1.75 !important;
  color: white !important;
}

.block-title-black {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1.75rem;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75;
  color: black !important;
  background-color: white !important;
}

.block-title-secundary {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  min-height: 1.75rem !important;
  margin: 0 !important;
  font-size: 1.125rem !important;
  font-weight: 400 !important;
  line-height: 1.75 !important;
  color: #4b4b4b !important;
}

.block.block-themed-secundary > .block-header > .block-title {
  color: rgba(0, 0, 0, 1);
}



.block.block-themed2 > .block-header2 > .block-title2 {
  color: rgba(255, 255, 255, 0.9);
}


.block.block-themed > .block-header > .block-title {
  color: rgba(147, 147, 147, 1);
}

.block-header-log{
  padding: 0.15rem 1.15rem !important;
}


.block-header-default {
  background-color: #00A0DA !important;
}

.background-blue {
  color: #fff !important;
  background-color: #00A0DA !important;
  border-color: #00A0DA !important;
}

.background-grey {
  color: #fff !important;
  background-color: #4B4B4B !important;
  border-color: #4B4B4B !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #00720D !important;
  border-color: #00720D !important;
}
.btn-primary:Hover{
  color: #fff !important;
  background-color: #66C6E9 !important;
  border-color: #66C6E9 !important;
}

.btn-outline-primary {
  color: #0071a1 !important;
  border-color: #0071a1 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #66C6E9 !important;
  border-color: #66C6E9 !important;
}

.btn-success {
  color: #fff;
  background-color: #0071a1 !important;
  border-color: #0071a1 !important;
}

.btn-success:hover {
  color: #fff;
  background-color: #66C6E9 !important;
  border-color: #66C6E9 !important;
}

.btn-warning {
  color: #fff;
  background-color: #bababa !important;
  border-color: #bababa !important;
}

.btn-warning:hover {
  color: #fff;
  background-color: #00a0da !important;
  border-color: #00a0da !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #4B4B4B !important;
  border-color: #4B4B4B !important;
}
.btn-danger:hover {
  color: #fff !important;
  background-color: #66C6E9 !important;
  border-color: #66C6E9 !important;
}

.txt-red{
  color: #ed1c24;
}

.txt-green{
  color: #8cc63f;
}

.txt-orange{
  color: #fbb03b;
}

.txt-yellow{
  color: #e1de17;
}

.txt-white{
  color: #ffffff;
}

.txt-blue-primary{
  color: #0071a1;
}

.txt-blue-secundary{
  color: #00a0da;
}

.txt-black-primary{
  color: #4b4b4b;
}

.alert-info {
  color: #1f4b74 !important;
  background-color: #ffffff !important;
  border-color: #4b4b4b !important;
  border-width: 1px;
}

.li-border-bottom{
  border-bottom: 1px solid #bababa !important;
}


.nav-main-item.open > .nav-main-link-submenu {
  color: #fff !important;
  background-color: #00720D !important;
}

.nav-main-item.open > .nav-main-link-submenu-secundary {
  color: #4b4b4b !important;
  background-color: #fff !important;
}

.nav-items a {
  border-bottom: 0px solid transparent !important;
}

.nav-main-submenu {
  padding-left: 1.25rem !important;
  background-color: #fff !important;
}

.breadcrumb.breadcrumb-alt .breadcrumb-item + .breadcrumb-item::before {
  color: #0071a1;
  font-weight: bold;
}


/* //Direccion modal */
.modal-style {
  margin: 10px 0 0 10px;
  width: 22%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8dfed;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-w2d {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #e6ebf4;
}

.center-w2d{
  position: 'absolute' !important;
  left: 50% !important;
  top: 50% !important;
  transform: 'translate(-50%, -50%)' !important;
}

.row-w2d {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 35px;
  margin-left: 35px;
}

.acordeon-pantalla {
  background-color: #0071a1;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0px;
}

.acordeon-pantalla-espacio {
  padding: 0 !important;
  margin: 0 !important;
}

.block-header-warning {
  background-color: #ECB60C !important;
}

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-uppercase {
  letter-spacing: 0 !important;
}


.let li {
  text-transform: lowercase;
}

.let li:first-letter {
  text-transform: uppercase;
}